<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.startechnical">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarTechnical">
        <activity android:name=".Admin.DocumentseeOncliked"></activity>
        <activity android:name=".Admin.AdminProfile" />
        <activity android:name=".Admin.MainagLogins" />
        <activity android:name=".Common.LogingActivity" />
        <activity android:name=".Admin.DocumentsRecycleShow" />
        <activity android:name=".Admin.AddSpecialcustomer" />
        <activity android:name=".Admin.ManagSpecialCustomer" />
        <activity android:name=".Admin.ManagDocuments" />
        <activity android:name=".Admin.AddFinance" />
        <activity android:name=".Admin.ManageFinance" />
        <activity android:name=".Admin.Add_Employee" />
        <activity android:name=".Admin.Manag_Profile" />
        <activity android:name=".Admin.AddTasks" />
        <activity android:name=".Admin.Manage_Tasks" />
        <activity android:name=".Common.Dash_board" />
        <activity android:name=".Common.onBoarding" />
        <activity android:name=".Employee.EmployeDashboard" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>